*{
    border: 0;
    margin: 0;
    padding: 0;
}
.headline{
    background-color: #E2A45A;
    height: 80px;
    line-height: 80px;
}
.heading{
    position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size:x-large;
}